@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: #141414;
  max-width: 100%;
}

.windows {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media only screen and (max-width: 700px) {
  .windows {
    grid-template-columns: 100%;
  }
}

.ant-typography {
  font-family: "Fira Code", monospace;
  font-size: 13px;
}
